{{>header}}

<h1>Edit:</h1>

<form action="/records/save" method="POST">
{{#authenticated}}
{{#edit_account}}
<div class="large-3 columns gray">
.
</div>
<div class="large-6 columns">
    <div class="form-group">
        <label for="username">Username</label>
<input type="text" class="form-control" name="username" placeholder="Username" value="{{username}}">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Password">
    </div>
    <input type="hidden" name="id" value="{{id}}">
    <button type="submit" class="btn btn-primary">Edit</button>
</div>
{{/edit_account}}
{{/authenticated}}
</form>
<div class="large-3 columns gray">
.
</div>
{{>footer}}
